body {
    position: relative;
    font-family: 'Amatic SC', cursive;
}



.section1-backdrop {
    height: 100vh;
    background: url("assets/media/author desk large.png") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*    mix-blend-mode: multiply;*/
}

/*.blendbg {
    background-image: url('https://media.giphy.com/media/n6zhIUWJVsH3a/source.gif');
    background-size: cover;
    width: 100vw;
}*/

/* -- -----------------------------------------------------NAVBAR STUFF --*/

.navbar-dark {
    background-color: rgba(0, 0, 0, 0.44);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
    font-size: 2rem;
    text-shadow: 0px 0px 20px black;
    text-align: right;
}

/* change the navbar brand and text color */

.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 1);
}

/* change the navbar link color */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);

}

/* change the color of active or hovered navbar links */

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: #eeeeee;
}

/* change the navbar-toggler transparency level */

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.5);
}

/* -- ----------------------------------------------------- JUMBOTRON ---*/

.mailing-list {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 6%;
    padding: 14px;
    max-width: 66%;
    justify-content: center;
}


.jumbotron {
    background-color: transparent;
}

.jumbotron-large {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;

}

/* -- ----------------------------------------------------- CONTAINERS --*/

/*#section1 {
    margin: 0px 0px;
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background: url("assets/media/darkeness with feather.jpg") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: cover;
    justify-content: center;
    font-family: 'Amatic SC', cursive;*/

/*   background-blend-mode: multiply;*/

}

/*#section1.a {
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    position: absolute;
    top: 65%;

    transform: translatey(-50%, -50%);
}*/

#section2 {
    height: 100vh;
}

#section3 {
    height: 100vh;
}

#section4 {
    height: 100vh;
}

#section5 {
    height: 100vh;
}

.footerstyle {
    height: 20vh;
    background: black;
     
}

/* -- ----------------------------------------------------- EMAIL MODAL --*/

/* -- ----------------------------------------------------- COLOURS -----*/

/* -- ----------------------------------------------------- TEXT--- -----*/

.shadow {
    
}

.navlink {
    text-align=center;
    text-shadow: 3px 2px white;
}



/*---------------modify bootstrap email form & Toast (buttons, text, padding etc.) -------*/

.form-control {
    font-weight: 600;
    text-align: center;
}

.btn  {
    font-size: 2rem;
    border-radius: .8rem;
    padding: .025rem .75rem
    background-color: #2a2b21;
    border: 1px solid #e9ecef;
}

.btn-primary {
    background-color: #2f291e;
}

.form-check-label {
    margin-bottom: 20px;
}

.col-6, .col-12, .col-4, .col-3 {
    padding: 0;
    margin: 0;
}

.toast {
    background-color: transparent;
}
.toast-header {
     background-color: transparent;
     padding: 0;
}

.close {
    font-size: 2.5rem;
    color: #f8f9fa;
    opacity: .9;
}

.section1-backdrop .container {
    padding: 0;
}