body {
    position: relative;
    font-family: 'Amatic SC', cursive;
}



.section1-backdrop {
    height: 100vh;
    background: url("assets/media/author desk large.png") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*    mix-blend-mode: multiply;*/
}

/*.blendbg {
    background-image: url('https://media.giphy.com/media/n6zhIUWJVsH3a/source.gif');
    background-size: cover;
    width: 100vw;
}*/

/* -- -----------------------------------------------------NAVBAR STUFF --*/

.navbar-dark {
    background-color: rgba(0, 0, 0, 0.44);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
    font-size: 2rem;
    text-shadow: 0px 0px 20px black;
    text-align: right;
}

/* change the navbar brand and text color */

.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 1);
}

/* change the navbar link color */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);

}

/* change the color of active or hovered navbar links */

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: #eeeeee;
}

/* change the navbar-toggler transparency level */

.navbar-toggler {
    background-color: rgba(0,0,0,0.5);
}

/* -- ----------------------------------------------------- JUMBOTRON ---*/
.mailing-list {
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 6%;
    padding: 14px;
    max-width: 66%;
    justify-content: center;
}


.jumbotron {
    background-color: transparent;
}

.jumbotron-large {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;

}

/* -- ----------------------------------------------------- CONTAINERS --*/

/*#section1 {
    margin: 0px 0px;
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background: url("assets/media/darkeness with feather.jpg") no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: cover;
    justify-content: center;
    font-family: 'Amatic SC', cursive;*/

    /*   background-blend-mode: multiply;*/
}

#section1.a {
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    position: absolute;
    top: 65%;

    transform: translatey(-50%, -50%);
}

#section2 {
    height: 100vh;
}

#section3 {
    height: 100vh;
}

#section4 {
    height: 100vh;
}

#section5 {
    height: 100vh;
}

.footer {
    height: 60vh;
}

/* -- ----------------------------------------------------- EMAIL MODAL --*/

/* -- ----------------------------------------------------- COLOURS -----*/

/* -- ----------------------------------------------------- TEXT--- -----*/

.shadow {
    text-shadow: 3px 2px white;
}

.navlink {
    text-align= center;
}

/*.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;}*/

.form-control {
    font-weight: 600;
}

.btn {
    font-size: 2rem;
}