body {
    position: relative;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
}



.section1-backdrop {
    height: 100vh;
    background-image: url("/assets/media/author-desk-large.png");
   background-position: top 160px bottom 100px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


.bg-black .row {
    background: black;
    padding-bottom: 100px;
}

/*-- Centre Mailing-list toast box --*/

.section1-backdrop .row {
    padding: 52px 0;
    /*-- vertical centering --*/
}

/* -- NAVBAR STUFF --*/

.navbar {
    padding: 0px 10px;
    height: 14vh;
}

.navbar-brand {
    margin: 0;
    padding: 0;

}

/*-- to keep brand image scalable and of appropriate size --*/

.navbar-brand img {
    width: 27%;
    height: auto;
    padding: 0;

}

.navbar-dark {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    text-shadow: 0px 0px 20px black;
    text-align: left;
    padding: 3px 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

/*-- change the navbar brand and text color --*/

.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 1);
}

.navbar i {
    font-size: 40px;
    color: #9da2a1;
}

/*-- change the color of active or hovered navbar links --*/

.navbar-dark .nav-item:active .nav-link {
    color: #856404;
    text-shadow: 0px -1px 0px #f8f9fa;
}

.navbar-dark .nav-item:hover .nav-link {
    color: #856404;
    text-shadow: 0px -1px 0px #f8f9fa;
}

/*-- keeps the active selected link color seperate to the rest --*/

.navbar-dark .navbar-nav .nav-link.active {
    color: #dab23e;
}

/*-- Fontawesome styling --*/

.fa-user-secret:before,
.fa-clipboard-list:before,
.fa-blog:before,
.fa-book-reader:before,
.fa-at:before,
.fa-photo-video:before {
    font-size: 20px;
    color: #856404;
}

.fa-home:before {
    content: "\f015";
    font-size: 21px;
    color: white;
}


.fa-user-secret:after,
.fa-clipboard-list:after,
.fa-blog:after,
.fa-book-reader:after,
.fa-at:after,
.fa-photo-video:after {
    font-size: 20px;
    color: #856404;
}

/*-- change the navbar-toggler transparency level --*/

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;
    /*-- round out the button and grey it --*/
}

/* -- CONTAINERS --*/


#section3,
#section4,
#section5,
#section6,
#section7,
#section8 {
    width: 100%;
    height: auto;
    background-color: #000;
    color: white;
    padding-top: 13vh;
    padding-bottom: 20vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}


#section8 p {
    margin: auto;
    font-size: 2.5rem;
}


#section8 .col-12 {
    padding-bottom: 20vh;
}

.col-lg-4,
.col-md-6,
.col-sm-12 {
    padding: 0;
    background: black;
}

/* -- TEXT SECTION --*/

/* styling each section title*/

.section-title {
    font-family: 'Fascinate', cursive;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 46px;
    margin-top: 14px;
}

/* styling each subsection title*/

.subsection-title {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    color: white;

    font-size: 34px;
    margin-bottom: 110px;
    margin-top: 14px;
}

.subsection-title i {
    color: #b19709;
}

.subsection-title a {
    color: #b1a5a5;
}

.subsection-title p {
    margin-bottom: 19px;
    margin-top: 37px;
}

.section-p {
    font-size: 40px;
    color: #e7edf3;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 30px;
    padding: 20px;
}

/*-- sets max-width for all sections so content doesnt spread to edges on lg screens --*/

.container-width {
    max-width: 1200px;
}

.container-width-contact {
    max-width: 800px;
}

/* -- BOOKS GALLERY STYLING/RESPONSIVENESS --*/

div.gallery {
    border: none;
}

div.gallery:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

div.gallery img {
    width: 100%;
    height: auto;
    padding: 30px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Jacques Francois', serif;
    color: #928989;
}


@media only screen and (min-width: 768px) {

    .navbar-brand img {
        width: 45%;
        height: auto;
        padding: 0;
    }


    div.desc {
        font-size: 1.5rem;

    }
}

@media only screen and (min-width: 992px) {


    .responsive {
        width: 24.999%;
    }

    /*    div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Jacques Francois', serif;
    color: #928989;
}*/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

}

/*-- Underline for Section Titles --*/

.block-separator {
    border: 0;
    width: 200px;
    height: 5px;
    background-color: #b98c0e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.block-separator--long {
    background-color: #efb10db5;
    width: 300px;
}

/* --------------------------Media section-----------*/

/* Maintain balanced spacing between videos*/

.embed-responsive {
    width: 85%;
    align-items: centre;
    margin: 32px;
}

/* --------------------------Contact Form section-----------*/

form .contact-form-bg {
    background-color: #1d1919;
}

.contact-header {
    font-family: 'Amatic SC', cursive;
    margin-top: -47px;
    margin-bottom: 9px;
    font-weight: 300px;
    /*    padding-left: 10px;
    padding-right: 10px;*/
}

.contact-form-center {
    padding-top: 2px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #fafafa;
    background-color: #18a939;
}

@media(min-width: 992px) {
    .contact-form-center {
        padding-top: 30px;
        min-height: 240px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/*---------------modify bootstrap email form & Toast (buttons, text, padding etc.) -------*/

.form-control {
    font-weight: 600;
    text-align: center;
}

.btn {
    font-size: 1.8rem;
    border-radius: .8rem;
    padding: .025rem .75rem;
    background-color: #2a2b21;
    border: 1px solid #e9ecef;
}

.btn-primary {
    background-color: #155724;
}

.btn-primary:hover {
    background-color: #08230e;
    border-color: #343a40;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: grab;
}

.form-check-label {
    margin-bottom: 20px;
}

.col-6,
.col-4,
.col-3 {
    padding: 0;
    margin: 0;
}

.toast {
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 700px;
    color: white;
    border-radius: 2rem;
}

.toast-body {
    padding: 0px 0px 12px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    max-width: 240px;
}


.toast-header {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
}

.close {
    font-size: 2.5rem;
    color: #f8f9fa;
    opacity: .9;
}

.section1-backdrop .container {
    padding: 0;
}


/*-----------------FOOTER styling--------------------*/

footer {
    background-color: #000000;
    color: #adb5bd;
    max-height: 200px;
    margin: 0;
}


.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 10px 9px;
    border-radius: 50%;
    font-size: 19px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: #151217;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background: #721c24;
}


footer .row {
    justify-content: center;
    text-align: center;
}

/*-- vertical centering of popoverlinks in footer --*/

footer .row .popoverlink {
    padding: 12px 0px;
}

/*-- vertical centering of social links with popoverlinks --*/

.list-inline {
    padding: 5px;
}

Ul {
    margin-bottom: 0;
}

/*-- color the footer links white */

.fixed-bottom a {
    color: white;
}

p {
    margin-bottom: 4px;
    /* Keep (Copyright) balanced in footer */
    margin-top: 14px;
}

.copyright {
    font-size: 0.75rem;
    text-align: center;
    padding: 0;

}




@media only screen and (min-width: 400px) {
    #section3,
    #section4,
    #section5,
    #section6,
    /*------Keeps section headings higher in larger screens----*/
    #section7,
    #section8 {
        width: 100%;
        height: auto;
        background-color: #000;
        color: white;
        padding-top: 8vh;
        padding-bottom: 20vh;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0px 10px;
        height: 10vh;
        /* To keep navbar from overlapping section titles */
    }
    .navbar-brand img {
        width: 20%;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {


    .toast-body h2 {
        font-size: 3.2rem;
        /* increase font for > 992px devices */
    }
    #section8 img {
        width: 25%;
        max-height: 500px;
        float: right;
    }
    div.gallery img {
        width: 100%;
        height: auto;
        padding: 30px 30px;
    }
    .contact-header {
        font-family: 'Amatic SC', cursive;
        /* better margins for contact form on lg screens */
        margin-top: 3px;
        margin-bottom: 35px;
    }
    .contact-form-center {
        padding-top: 2px;
        max-width: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .social-links li a i {
        width: 36px;
        height: 36px;
        padding: 10px 9px;
        border-radius: 50%;
        font-size: 19px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        background: #151217;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
    }

    .navbar-brand img {
        width: 20%;
        height: auto;
    }
    div.gallery img {
        width: 70%;
        height: auto;
        /*Keep books framed well on larger screens*/
        padding: 30px 30px;
    }
    
    .embed-responsive {
    margin: 67px;
}

}


.badge-primary {
    color: #0b0c0c;
    background-color: #d2a50e;
    font-size: 9px;
}

.list-group-item:first-child {
    background-color: black;
    font-size: 14px;
}

.align-items-center {
    background-color: black;
    font-size: 14px;
}

/*----------------------------------------------------------------------*/
